<h2>Log in</h2>

<%= form_tag sessions_path do %>
  <%= text_field_tag "email", '', placeholder: "Votre email" %>
  <%= text_field_tag "password", '', placeholder: "Votre password" %>
  <%= submit_tag "Log in!" %>
<% end %>