<h1>Challenge your friends !</h1>

<ul>
	<li><%= link_to 'running challenges', challenges_path(:running => true) %></li>
	<li><%= link_to 'expired challenges', challenges_path(:expired => true) %></li>
	<li><%= link_to 'high point challenges', challenges_path(:above_points => 50) %></li>
</ul>