<p id="notice"><%= notice %></p>

<%= render @challenge %>

<p>
  <strong>Expires at:</strong>
  <%= @challenge.expires_at.strftime("%d %b %Y") %>
</p>


<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>

<hr>
<h2>Participants</h2>
<%= render @users %>

<div class="clearfix"></div>

<hr>
<%= render 'participations' %>

<% if current_user %>
	<hr>

	<h2>New participation</h2>
	<%= render 'participations/form' %>
<% end %>