<!DOCTYPE html>
<html>
<head>
  <title>Challenger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		Welcome, <%= current_user.name %>
		|
		<%= link_to "logout", logout_sessions_path %>
	<% else %>
		<%= link_to "login", new_session_path %>
	<% end %>
	<hr>

	<%= yield %>

</body>
</html>
